/** Keyboard **/

.keyboard {
  height: 65%;
}

.keyboard__file {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25%;
}

.keyboard__key {
  width: 33%;
  height: 100%;
  --box-shadow: none;
  --background: var(--ion-color-coink-white);
  --color: var(--ion-color-coink-secundary);
  font-size: 37px;
  line-height: 45px;
}

/** Form **/

.content-form {
  margin-left: auto;
  margin-right: auto;
  padding: 18px;
}

.content-form__image {
  padding-right: 11px;
}

.form-group {
  font-family: Roboto;
  font-size: 16pt;
  line-height: 16px;
  letter-spacing: 0.16pt;
  color: #4d4d4d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-phone {
  border: none;
  width: 55%;
}
