.content {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__header {
    display: flex;
    justify-content: flex-end;
  }
  &__header-options {
    --background: var(--ion-color-coink-white);
    --box-shadow: none;
    --color: var(--ion-color-coink-primary);
  }
  &__body {
    height: calc(80% - 62px);
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20%;
  }
}

.slides {
  height: 100%;
  --bullet-background: #e1e8e7;
  --bullet-background-active: var(--ion-color-coink-secundary);
}

.slide {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  &__title {
    text-transform: uppercase;
    color: var(--ion-color-coink-primary);
    font-weight: bold;
    line-height: 22px;
  }
  &__description {
    color: var(--ion-color-coink-gray);
    font-size: 14px;
    line-height: 17px;
    font-family: Avenir Next LT Pro;
    font-style: italic;
  }
}
