<ion-content>
  <div class="content">
    <div class="content-header">
      <ion-button class="content-header__options">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="content-body">
      <ion-slides pager="true" [options]="slideOpts" class="slides">
        <ion-slide class="slide">
          <div class="content-slide">
            <img src="assets/img/Logo.svg" class="slide__img" />
            <ion-label class="slide__title"
              >La alcancía que siempre te acompaña</ion-label
            >
            <ion-label class="slide__description"
              >Desliza para aprender más</ion-label
            >
          </div>
        </ion-slide>
        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
        <ion-slide> </ion-slide>
      </ion-slides>
    </div>
    <div class="content-bottom">
      <ion-button class="btn btn--primary">
        Regístrate
      </ion-button>
      <ion-button class="btn btn--secundary">
        Ingresa
      </ion-button>
    </div>
  </div>
</ion-content>
