<ion-content class="">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="content-slide">
        <ion-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
        <img class="img" />
        <ion-label></ion-label>
        <ion-label></ion-label>
      </div>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

  <ion-button>
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </ion-button>

  <ion-button>
    Regístrate
  </ion-button>
  <ion-button>
    Ingresa
  </ion-button>
</ion-content>
