ion-content {
  --background: rgb(0 0 0 / 4%);
}

.theme-dark {
  background-color: #001b24 !important;
  --background: #001b24 !important;
  .balance-values__value {
    color: var(--ion-color-coink-primary);
  }
  .balance-values__description,
  .main-item {
    color: #ffffff;
  }
}

.header-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  &__config {
    --box-shadow: none;
    --background: #ffffff;
  }
  &__notification {
    --box-shadow: none;
    --background: #ffffff;
    ion-label {
      background-color: red;
      border-radius: 20px;
      height: 11px;
      width: 11px;
      position: absolute;
      right: -1px;
      top: 10px;
      border: 1px solid #ffffff;
    }
  }
}

.main {
  height: 283px;
  width: 100%;
  box-shadow: 0px 3px 20px #00000012;
  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-bottom: 3%;
  }
  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.mission {
  max-width: 30%;
  margin-bottom: 10%;
}

.oink-img {
  max-width: 50%;
}

.saving {
  max-width: 20%;
  margin-bottom: 10%;
}

.main-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--ion-color-coink-secundary);
  font-size: 12px;
  text-align: center;
  &__title {
    font-weight: bold;
    padding-top: 10px;
  }
}

.divider {
  height: 44px;
  border: 2px solid #004b40;
}

.balances {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  &__info {
    background-image: url("../../../assets/img/home/main/Tooltip.svg");
    width: 14px;
    height: 14px;
  }
  .balance-values {
    display: flex;
    flex-direction: column;
    color: var(--ion-color-coink-secundary);
    padding: 0 15px;
    text-align: center;
    &__value {
      font-size: 16px;
      font-weight: bold;
    }
    &__description {
      font-size: 12px;
    }
  }
}

.content-options {
  --background: rgb(0 0 0 / 0%);
  --ion-safe-area-right: 0;
  --ion-safe-area-left: 0;
}

.options {
  &__header {
    margin: 0 0 30px 0;
  }
  &__body {
    height: 150px;
  }
}

.options::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8%;
  background-color: #fcfbfc;
  border-top-right-radius: 90% 30%;
  border-top-left-radius: 90% 30%;
  margin-top: -8px;
  box-shadow: inset 0px 3px 20px #00000012;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 37px;
  &__img {
    padding-left: 10px;
  }
  &__name {
    font-size: 14px;
    padding: 0 10px;
    color: var(--ion-color-coink-secundary);
  }
  span {
    width: 35px;
    height: 25px;
  }
}

.option-selected {
  background-color: #e1fecb;
}

ion-scroll[scrollX] {
  padding-left: 22px;
  white-space: nowrap;
  overflow: scroll;
  .scroll-item {
    display: inline-block;
    vertical-align: middle;
  }
}

/* Hide ion-content scrollbar */
::-webkit-scrollbar {
  display: none;
}

.communities-item {
  width: 330px !important;
  height: 128px !important;
  background-color: #ffffff;
  box-shadow: 0px 3px 14px #7777772c;
  border-radius: 4px;
  padding: 12px;
  &__body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__community {
    font-size: 11px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-coink-secundary);
    font-weight: bold;
    margin-right: 20px;
  }
  &__img {
    border-radius: 50%;
    width: 57px;
  }
  &__name {
    margin: 7px 0 2px 0;
  }
  &__more {
    width: 65px;
    height: 104px;
    background: transparent linear-gradient(180deg, #004b40 0%, #003336 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
}

.bazar-item {
  width: 125px !important;
  height: 125px !important;
  margin-right: 20px;
  background: transparent
    linear-gradient(180deg, var(--ion-color-coink-secundary) 0%, #000f0d 100%)
    0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  color: var(--ion-color-coink-primary);
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__name {
    font-size: 14px;
    font-weight: bold;
  }
  &__icon {
    height: 43px;
    width: 33px;
  }
}

.feed {
  &__title {
    font-size: 16px;
    font-weight: bold;
    color: var(--ion-color-coink-secundary);
    padding: 20px;
  }
}
