<ion-header mode="ios" no-lines>
  <div class="header-home" [ngClass]="theme">
    <ion-button class="header-home__config" [ngClass]="theme">
      <ion-icon [src]="settingsImage"></ion-icon>
    </ion-button>
    <img src="assets/img/home/header/Logotipo neon.svg" alt="" />
    <ion-button
      class="header-home__notification"
      color="white"
      (click)="presentModalNotifications()"
    >
      <ion-icon src="assets/img/home/header/notification.svg"> </ion-icon>
      <ion-label></ion-label>
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <div
    class="main"
    [ngClass]="theme"
    [ngStyle]="{backgroundImage:'url(' + backImage + ')'}"
    (click)="setBackground()"
  >
    <div class="main__body">
      <div class="main-item mission">
        <app-circle-progress-bar
          [PERCENT]="50"
          [SIZE]="50"
          [STROKE]="3"
          [COLOR]="'var(--ion-color-coink-primary)'"
        ></app-circle-progress-bar>
        <ion-label class="main-item__title">
          {{balance.mision.title}}</ion-label
        >
        <ion-label class="main-item__description">
          {{balance.mision.description}}</ion-label
        >
      </div>
      <div class="main-item oink-img">
        <img id="main_oink" [src]="balance.oink" alt="" />
      </div>
      <div class="main-item saving">
        <img [src]="balance.ahorro.url" alt="" />

        <ion-label class="main-item__title">
          {{balance.ahorro.title}}
        </ion-label>
        <ion-label class="main-item__description">
          {{balance.ahorro.description}}</ion-label
        >
      </div>
    </div>
    <div class="main__bottom">
      <div class="balances">
        <ion-label
          class="balances__info"
          (click)="showInfoBalance('Disponible')"
        ></ion-label>
        <div class="balance-values" [ngClass]="theme">
          <ion-label class="balance-values__value"
            >$ {{balance.saldoDisponible | number }}</ion-label
          >
          <ion-label class="balance-values__description"
            >Saldo disponible</ion-label
          >
        </div>
      </div>
      <div class="divider"></div>
      <div class="balances">
        <div class="balance-values" [ngClass]="theme">
          <ion-label class="balance-values__value">
            $ {{balance.saldoTotal | number}}</ion-label
          >
          <ion-label class="balance-values__description">Saldo total</ion-label>
        </div>
        <ion-label
          class="balances__info"
          (click)="showInfoBalance('Total')"
        ></ion-label>
      </div>
    </div>
  </div>
  <div class="options">
    <ion-row>
      <ion-item lines="none" class="options__header ion-no-padding">
        <ion-scroll scrollX="true">
          <div
            class="scroll-item"
            *ngFor="let option of slideOptions"
            style="padding-right: 16px"
          >
            <div class="option" (click)="selectOption(option.name, $event)">
              <span>
                <img class="option__img" [src]="option.url" alt="" />
              </span>
              <ion-label class="option__name">{{option.name}}</ion-label>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row
      *ngIf="slideOptionSelected == 'Comunidades' && communities.length == 0"
    >
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body-empty">
            <div class="communities-item-empty">
              <ion-label text-wrap class="communities-item-empty__description">
                Toda acción tiene su reacción, accede a descuentos y recompensas
                por ahorrar en los cofres
              </ion-label>
              <a
                class="communities-item-empty__link"
                (click)="goAboutCommunities()"
                >Conócelos</a
              >
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row
      *ngIf="slideOptionSelected == 'Comunidades' && communities.length > 0"
    >
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body">
            <div class="communities-item">
              <div class="communities-item__body">
                <div
                  class="communities-item__community"
                  *ngFor="let community of communities | slice:0:3; let i=index"
                  (click)="goCommunity(community)"
                >
                  <img
                    [src]="community.url"
                    alt=""
                    class="communities-item__img"
                  />
                  <ion-label class="communities-item__name"
                    >{{community.name}}</ion-label
                  >
                  <ion-label>$ {{community.value | number}}</ion-label>
                </div>
                <div class="btn-more" (click)="showCommunities()">
                  <ion-icon name="add"></ion-icon>
                  <ion-label text-wrap>Ver más</ion-label>
                </div>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row *ngIf="slideOptionSelected == 'Metas' && goals.length == 0">
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body-empty">
            <div class="goals-item-empty">
              <ion-label text-wrap class="goals-item-empty__description">
                ¿Aún no tienes un objetivo de ahorro? Empieza con algo pequeño.
              </ion-label>
              <ion-label class="goals-item-empty__link" (click)="goAboutGoals()"
                >un escalón a la vez.</ion-label
              >
              <ion-icon
                class="goals-item-empty__icon"
                src="assets/img/home/options/Cortado Guiño.svg"
              ></ion-icon>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row *ngIf="slideOptionSelected == 'Metas' && goals.length > 0">
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body">
            <div
              class="scroll-item goals-item"
              *ngFor="let goal of goals | slice:0:2; let i=index"
              (click)="goGoal(goal)"
            >
              <div class="goals-item__body">
                <div class="goals-item__description">
                  <ion-label text-wrap class="goals-item__name">
                    {{goal.goal_description}}</ion-label
                  >
                  <ion-label class="goals-item__category">
                    {{goal.category_description}}</ion-label
                  >
                  <ion-label class="goals-item__values">
                    <span class="goals-item__save-value"
                      >${{goal.saved_money | number}} /
                    </span>
                    ${{goal.goal_value | number}}
                  </ion-label>
                  <ion-progress-bar
                    class="goals-item__progressbar"
                    mode="ios"
                    color="coink-primary"
                    [value]="goal.saved_money/goal.goal_value"
                  ></ion-progress-bar>
                </div>
                <div class="goals-item__img">
                  <img [src]="goal.goal_imagen_cut" alt="" />
                </div>
              </div>
            </div>
            <div class="scroll-item">
              <div class="goals-item__more btn-more" (click)="showGoals()">
                <ion-icon name="add"></ion-icon>
                <ion-label text-wrap>Ver más</ion-label>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row
      *ngIf="slideOptionSelected == 'Tarjeta' && stateCard == 'Disabled'"
    >
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body-empty">
            <div class="card-item-empty">
              <div class="card-item-empty__content">
                <img
                  class="card-item-empty__img"
                  src="assets/img/home/slide-options/card.png"
                  alt=""
                />
                <ion-label text-wrap class="card-item-empty__description">
                  Aún no puedes activar tu tarjeta Visa, debes tener por lo
                  menos 1 mes en Coink para empezar a usar este producto.
                </ion-label>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row *ngIf="slideOptionSelected == 'Tarjeta' && stateCard == 'Enabled'">
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body-empty">
            <div class="card-item-empty">
              <div
                class="card-item-empty__content card-item-empty__content--enabled"
              >
                <img
                  class="card-item-empty__img"
                  src="assets/img/home/slide-options/card.png"
                  alt=""
                />
                <ion-label
                  text-wrap
                  class="card-item-empty__description card-item-empty__description--enabled"
                >
                  Activa o solicíta tu tarjeta Visa Coink para que puedas
                  disfrutar de tus ahorros.
                </ion-label>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row
      *ngIf="slideOptionSelected == 'Tarjeta' && stateCard == 'Activated'"
    >
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body">
            <div class="card-item">
              <div class="card-item__content">
                <div class="card-item__card-content">
                  <div class="card-item__card-header">
                    <img
                      class="card-item__card-chip"
                      src="assets/img/home/slide-options/chip.png"
                      alt=""
                    />
                  </div>

                  <div class="card-item__card-body">
                    <div>
                      <ion-label>{{card.number}}</ion-label>
                      <ion-label>{{card.dueDate}}</ion-label>
                      <ion-label>{{card.cvv}}</ion-label>
                    </div>
                    <div>
                      <ion-icon
                        class="card-item__card-eye"
                        [name]="visibleCard ? 'eye-outline' : 'eye-off-outline'"
                        (click)="showDataCard()"
                      ></ion-icon>
                    </div>
                  </div>
                </div>
                <div
                  class="card-item__more btn-more"
                  (click)="showCardDetails()"
                >
                  <ion-icon name="add"></ion-icon>
                  <ion-label text-wrap>Ver detalle</ion-label>
                </div>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row *ngIf="slideOptionSelected == 'Bazar'">
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body">
            <div
              class="scroll-item bazar-item"
              *ngFor="let bazar of bazarItems"
              (click)="goBazar(bazar.name)"
            >
              <div class="bazar-item__body">
                <ion-icon
                  class="bazar-item__icon"
                  name="cash-outline"
                ></ion-icon>
                <ion-label class="bazar-item__name">{{bazar.name}}</ion-label>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row *ngIf="slideOptionSelected == 'Kids' && kids.length == 0">
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body-empty">
            <div class="kids-item-empty">
              <ion-label text-wrap class="kids-item-empty__description">
                Ahorrar desde temprana edad puede significar un futuro
                financiero exitoso, crea cofres para los más pequeños y asegura
                un futuro para ellos
              </ion-label>
              <a class="kids-item-empty__link" (click)="goAboutKids()"
                >Conócelos</a
              >
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>

    <ion-row *ngIf="slideOptionSelected == 'Kids' && kids.length > 0">
      <ion-item lines="none" class="ion-no-padding options__content">
        <ion-scroll scrollX="true">
          <div class="options__body">
            <div
              class="scroll-item kids-item"
              *ngFor="let kid of kids | slice:0:2; let i=index"
              (click)="goKid(kid)"
            >
              <div class="kids-item__body">
                <img [src]="kid.logo" class="kids-item__icon" />
                <div class="kids-item__description">
                  <ion-label text-wrap class="kids-item__name">
                    {{kid.name_vault}}</ion-label
                  >
                  <ion-label class="kids-item__value"
                    >${{kid.balance | number}}
                  </ion-label>
                </div>
              </div>
            </div>
            <div class="scroll-item">
              <div class="kids-item__more btn-more" (click)="showKids()">
                <ion-icon name="add"></ion-icon>
                <ion-label text-wrap>Ver más</ion-label>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-item>
    </ion-row>
  </div>

  <div class="feed">
    <ion-label class="feed__title">Feed</ion-label>
  </div>
</ion-content>
