<ion-header mode="ios" no-lines>
  <div class="header-home" [ngClass]="theme">
    <ion-button
      class="header-home__config"
      [ngClass]="theme"
      (click)="onClick()"
    >
      <ion-icon [src]="settingsImage"></ion-icon>
    </ion-button>
    <img src="assets/img/home/header/Logotipo neon.svg" alt="" />
    <ion-button
      class="header-home__notification"
      color="white"
      (click)="presentModalNotifications()"
    >
      <ion-icon src="assets/img/home/header/notification.svg"> </ion-icon>
      <ion-label></ion-label>
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <div
    class="main"
    [ngClass]="theme"
    [ngStyle]="{backgroundImage:'url(' + backImage + ')'}"
    (click)="setBackground()"
  >
    <div class="main__body">
      <div class="main-item mission">
        <app-circle-progress-bar
          [PERCENT]="50"
          [SIZE]="50"
          [STROKE]="3"
          [COLOR]="'var(--ion-color-coink-primary)'"
        ></app-circle-progress-bar>
        <ion-label class="main-item__title">
          {{balance.mision.title}}</ion-label
        >
        <ion-label class="main-item__description">
          {{balance.mision.description}}</ion-label
        >
      </div>
      <div class="main-item oink-img">
        <img id="main_oink" [src]="balance.oink" alt="" />
      </div>
      <div class="main-item saving">
        <img [src]="balance.ahorro.url" alt="" />

        <ion-label class="main-item__title">
          {{balance.ahorro.title}}
        </ion-label>
        <ion-label class="main-item__description">
          {{balance.ahorro.description}}</ion-label
        >
      </div>
    </div>
    <div class="main__bottom">
      <div class="balances">
        <ion-label
          class="balances__info"
          (click)="infoBalance('Disponible')"
        ></ion-label>
        <div class="balance-values" [ngClass]="theme">
          <ion-label class="balance-values__value"
            >$ {{balance.saldoDisponible | number }}</ion-label
          >
          <ion-label class="balance-values__description"
            >Saldo disponible</ion-label
          >
        </div>
      </div>
      <div class="divider"></div>
      <div class="balances">
        <div class="balance-values" [ngClass]="theme">
          <ion-label class="balance-values__value">
            $ {{balance.saldoTotal | number}}</ion-label
          >
          <ion-label class="balance-values__description">Saldo total</ion-label>
        </div>
        <ion-label
          class="balances__info"
          (click)="infoBalance('Total')"
        ></ion-label>
      </div>
    </div>
  </div>
  <div class="options">
    <div class="options__header">
      <ion-row>
        <ion-item lines="none" class="ion-no-padding content-options">
          <ion-scroll scrollX="true">
            <div
              class="scroll-item"
              *ngFor="let option of options"
              style="padding-right: 16px"
            >
              <div class="option" (click)="selectOption(option.name, $event)">
                <span>
                  <img class="option__img" [src]="option.url" alt="" />
                </span>
                <ion-label class="option__name">{{option.name}}</ion-label>
              </div>
            </div>
          </ion-scroll>
        </ion-item>
      </ion-row>
    </div>
    <div class="options__body">
      <ion-row>
        <ion-item lines="none" class="ion-no-padding content-options">
          <ion-scroll scrollX="true">
            <div *ngIf="optionSelected == 'Comunidades'">
              <div
                class="scroll-item communities-item"
                style="height: 120px; width: 70px"
              >
                <div class="communities-item__body">
                  <div
                    class="communities-item__community"
                    *ngFor="let community of communities | slice:0:3; let i=index"
                  >
                    <img
                      [src]="community.url"
                      alt=""
                      class="communities-item__img"
                    />
                    <ion-label class="communities-item__name"
                      >{{community.name}}</ion-label
                    >
                    <ion-label>$ {{community.value | number}}</ion-label>
                  </div>
                  <div class="communities-item__more">
                    <ion-icon
                      name="add"
                      color="coink-primary"
                      style="width: 26px; height: 26px"
                    ></ion-icon>
                    <ion-label text-wrap class="ion-text-uppercase"
                      >Ver más</ion-label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="optionSelected == 'Bazar'">
              <div
                class="scroll-item bazar-item"
                *ngFor="let bazar of bazarItems"
                style="height: 120px; width: 70px"
              >
                <div class="bazar-item__body">
                  <ion-icon
                    class="bazar-item__icon"
                    name="cash-outline"
                  ></ion-icon>
                  <ion-label class="bazar-item__name">{{bazar.name}}</ion-label>
                </div>
              </div>
            </div>
          </ion-scroll>
        </ion-item>
      </ion-row>
    </div>
  </div>

  <div class="feed">
    <ion-label class="feed__title">Feed</ion-label>
  </div>
</ion-content>
