<div lines="none" class="notification">
  <div class="notification__header">
    <ion-label class="notification__title">{{ title }}</ion-label>
    <ion-label class="notification__date">{{ date }}</ion-label>
  </div>

  <ion-label class="notification__description"
    >{{ description }}
    <strong style="color: var(--ion-color-coink-secundary)"
      >$ {{ value | number }}</strong
    ></ion-label
  >
  <div class="notification__content">
    <p class="notification__subject">{{ subject }}</p>
    <div class="options">
      <button
        (click)="acceptNotification(notification)"
        class="options__select"
      >
        <ion-icon name="checkmark-circle" color="coink-primary"></ion-icon>
        {{ textAccept }}
      </button>
      <button
        (click)="cancelNotification(notification)"
        class="options__select"
      >
        <ion-icon name="close-circle" color="coink-danger"></ion-icon>
        {{ textDecline }}
      </button>
    </div>
  </div>
</div>
