<ion-header no-border class="content-header">
  <ion-toolbar>
    <ion-buttons slot="start" class="content-header__buttons">
      <ion-back-button
        mode="ios"
        text=""
        color="coink-primary"
        defaultHref="/"
        class="content-header__back"
      ></ion-back-button>
      <ion-title class="content-header__title">{{ title }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
  <div class="slider-line"></div>

  <ul class="slider-controls">
    <li class="active">
      <div class="slider-line"></div>
    </li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</ion-header>
