<div
  lines="none"
  class="notification"
  *ngFor="let notification of notifications"
>
  <div class="notification__header">
    <ion-label class="title">{{ title }}</ion-label>
    <ion-icon
      (click)="deleteNotification(notification)"
      class="delete-notification"
    ></ion-icon>
  </div>

  <ion-label class="notification__description">{{ description }} </ion-label>
  <div class="notification__content">
    <button (click)="openNotification(notification)" class="notification__btn">
      {{ textButton }}
    </button>
  </div>
</div>
