<div lines="none" class="notification">
  <div class="notification__header">
    <ion-label class="notification__title">{{ title }}</ion-label>
    <ion-icon
      (click)="deleteNotification()"
      class="notification__btn-delete"
    ></ion-icon>
  </div>

  <ion-label class="notification__description">{{ description }} </ion-label>
  <div class="notification__content">
    <button (click)="openNotification()" class="notification__btn-open">
      {{ textAbout }}
    </button>
  </div>
</div>
