/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*! Carlos Andrés Aguirre Cañas https://github.com/caaguirre194 */

/* Normalize */
@import "~@ionic/angular/css/normalize.css";

/* theme
   ========================================================================== */

.btn {
  --border-radius: 25px;
  text-transform: none;
  height: 50px;
}

.btn--disabled {
  --color: var(--ion-color-medium) !important;
}

.btn--enabled {
  --color: var(--ion-color-coink-primary) !important;
}

.btn--primary {
  --background: var(--ion-color-coink-primary);
  --color: var(--ion-color-coink-secundary);
}

.btn--secundary {
  --background: var(--ion-color-coink-secundary);
  --color: var(--ion-color-coink-white);
}

.btn--danger {
  --background: var(--ion-color-coink-danger);
  --color: var(--ion-color-coink-white);
}

/** Forms - alerts **/

.alert-button.sc-ion-alert-md {
  color: var(--ion-color-coink-secundary);
  font-weight: bold;
}

.alert-radio-icon.sc-ion-alert-md {
  border-color: var(--ion-color-coink-secundary);
}

[aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--ion-color-coink-secundary);
}

.alert-radio-inner.sc-ion-alert-md {
  background-color: var(--ion-color-coink-primary);
}

.picker-opt.picker-opt-selected,
.picker-button.sc-ion-picker-md {
  color: var(--ion-color-coink-secundary);
}

.alert-head > .alert-title.sc-ion-alert-md {
  color: var(--ion-color-coink-danger);
}

h2.alert-title.sc-ion-alert-md {
  color: var(--ion-color-coink-secundary);
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
}

.modal-notifications .modal-wrapper {
  width: 80%;
  margin-left: 20%;
}

/** Estilo para arreglar bug en migración  - para limits-and-tops
    [https://github.com/ionic-team/ionic-framework/issues/18670](https://github.com/ionic-team/ionic-framework/issues/18670)
**/
.native-input[disabled].sc-ion-input-ios {
  opacity: 1 !important;
  font-family: "Avenir Next LT Pro" !important;
  font-size: 16px !important;
  color: #004b40 !important;
  text-transform: none !important;
  &.text-16 {
    font-size: 16px !important;
  }
}

// Alerts de nofiticaciones
.alert-information-cofre-detalle {
  .alert-button-group {
    > button {
      &:first-child {
        font-size: 2rem;
        position: absolute;
        right: 0.2rem !important;
        top: 0.2rem !important;
        z-index: 999;
        margin-right: 0;
        border: 0;
        .button-inner,
        .alert-button-inner {
          color: var(--ion-color-coink-secundary);
          &:after {
            content: url("assets/icon/Cerrar_PopUp.png");
            font-family: "Ionicons";
            transform: scale(0.3);
            position: fixed;
            left: 75%;
          }
        }
      }

      &.alert-button-ios {
        right: calc(0.5rem - 10vw);
      }
    }
  }

  .alert-wrapper {
    border-radius: 15px !important;
    min-width: 300px !important;
    padding: 10px !important;

    .alert-button-group {
      margin: 20px 15px 10px 15px !important;
    }

    .alert-title {
      padding: 10px 10px !important;
      text-align: center !important;
      color: #004b40 !important;
      font-size: 16px !important;
      text-transform: uppercase !important;
    }

    .alert-message {
      padding: 15px 15px !important;
      text-align: center !important;
      padding: 0 30px !important;
      font-size: 14px !important;
      color: #4d4d4d !important;
    }

    .alert-button {
      margin: 2px;
      height: 35px !important;
      min-width: 40% !important;
    }
  }
}

.alert-information-cofre-detalle-green {
  .alert-button-group {
    > button {
      &:first-child {
        font-size: 2rem;
        position: absolute;
        right: 0.2rem !important;
        top: 0.2rem !important;
        z-index: 999;
        margin-right: 0;
        border: 0;
        .button-inner,
        .alert-button-inner {
          color: var(--ion-color-coink-secundary);
          &:after {
            content: url("assets/icon/Cerrar_PopUp.png");
            font-family: "Ionicons";
            transform: scale(0.3);
            position: fixed;
            left: 75%;
          }
        }
      }

      &.alert-button-ios {
        right: calc(0.5rem - 10vw);
      }
    }
  }

  .alert-wrapper {
    border-radius: 15px !important;
    min-width: 300px !important;
    padding: 10px !important;

    .alert-button-group {
      margin: 20px 15px 10px 15px !important;
    }

    .alert-title {
      padding: 10px 10px !important;
      text-align: center !important;
      color: var(--ion-color-coink-primary) !important;
      font-size: 16px !important;
      text-transform: uppercase !important;
    }

    .alert-message {
      padding: 15px 15px !important;
      text-align: center !important;
      padding: 0 30px !important;
      font-size: 14px !important;
      color: #4d4d4d !important;
    }

    .alert-button {
      margin: 2px;
      height: 35px !important;
      min-width: 40% !important;
    }
  }
}

ion-alert {
  &.alert-ios {
    > .alert-message,
    > .alert-wrapper {
      background-color: white;
      text-align: center !important;
      border-radius: 4px;
    }
  }

  &.response_details {
    $close: 3rem;

    &.alert-ios {
      > .alert-wrapper {
        border-radius: 4px;
      }
    }

    > .alert-wrapper {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      max-width: 50rem;
      width: 90vw;
      background-color: #f8f8f8;
      position: relative;
      overflow: initial !important;
      contain: initial !important;
      align-self: flex-start;
      margin-top: 5vh;
      max-height: 90vh;
      margin-top: calc(5vh + constant(safe-area-inset-top));
      max-height: calc(90vh - constant(safe-area-inset-top));
      margin-top: calc(5vh + env(safe-area-inset-top));
      max-height: calc(90vh - env(safe-area-inset-top));
      height: auto !important;
      padding-top: $close + 1rem;
      padding-bottom: 1rem;

      &::after {
        $size: 2.5rem;
        content: "";
        position: absolute;
        width: 100%;
        height: $size;
        bottom: calc(#{(-1 * $size)} + 2px);
        background: url("./assets/images/response-details.svg");
        background-position: center bottom;
      }
    }

    &.alert-ios {
      > .alert-wrapper {
        background-color: white;

        .alert-head * {
          text-align: left !important;
        }

        &:after {
          background-size: auto 100%;
        }
      }
    }

    .alert-button-group {
      > button {
        &:first-child {
          font-size: $close;
          position: absolute;
          right: 0.2rem !important;
          top: 0.2rem !important;
          z-index: 999;
          margin-right: 0;

          .button-inner {
            color: var(--ion-color-coink-secundary);

            &:after {
              content: "\f2c0";
              font-family: "Ionicons";
              font-size: 1.4em;
              padding-left: 60%;
            }
          }
        }

        &.alert-button-ios {
          right: calc(0.5rem - 10vw);
        }
      }
    }

    .alert-head {
      $padding: 1rem;
      padding-top: $padding;
      padding-bottom: 0.5rem;
      // margin-bottom: $close / 2;

      .alert-title {
        font-size: 2rem;
        font-weight: 900 !important;
        text-align: left;
        font-family: "Montserrat", sans-serif !important;
        position: relative;
        text-transform: uppercase !important;

        &.red-title {
          color: rgba(231, 65, 17, 1) !important;
        }

        &.yellow-title {
          color: #ffb71b;
        }

        &.green-title {
          color: var(--ion-color-coink-primary) !important;
        }

        &::before {
          $tamano: 25%;
          // border-bottom: 0.25rem solid var(--ion-color-coink-secundary);
          position: absolute;
          bottom: $padding * -0.5;
          content: "";
          left: (100% - $tamano) / 2;
          right: (100% - $tamano) / 2;
        }
      }
    }

    .alert-message {
      padding: 0 2rem 0 2rem;
      text-align: left;
      max-height: 100%;

      p {
        border-bottom: 0.1rem solid #d3d3d3;
        font-size: 1.4rem;
        padding-bottom: 0.5rem !important;
        // margin-bottom: -0.5rem;
        font-family: "Montserrat", sans-serif !important;

        &.custom-padding {
          padding: 0 0 1rem 0;
          display: flex;
          align-items: center !important;
        }

        &:first-child {
          padding-top: 0;
          border-bottom-width: 0;

          span.strong {
            line-height: 4rem;
          }
        }

        span {
          &.right-text {
            float: right;
            text-transform: uppercase;
          }

          &.bold-text {
            font-family: "Montserrat", sans-serif !important;
            font-weight: 700 !important;
            color: var(--ion-color-coink-secundary);
            font-size: 12px !important;

            &.font-uppercase {
              text-transform: uppercase;
            }
          }

          &.res-no-uppercase {
            // float: right;
            text-align: right !important;
            width: 80%;
          }
          &.res {
            // float: right;
            text-align: right !important;
            width: 80%;
            text-transform: uppercase;
          }

          &.strong {
            color: var(--ion-color-coink-secundary);

            &.font-size-up {
              font-size: 16px !important;
            }
          }

          &.place-name {
            font-family: "Montserrat", sans-serif !important;
            font-size: 14px;
            color: var(--ion-color-coink-secundary);
            font-weight: 300 !important;
          }

          &.red {
            //font-family: "Montserrat", sans-serif !important;
            font-size: 18px !important;
            color: rgba(231, 65, 17, 1);
            font-weight: 900 !important;
          }

          &.green {
            //font-family: "Montserrat", sans-serif !important;
            font-size: 18px !important;
            color: var(--ion-color-coink-primary);
            font-weight: 900 !important;
          }

          &.orange {
            font-size: 14px;
            color: rgba(251, 176, 64, 1);
            font-style: italic !important;
            font-weight: bold !important;
          }

          &.gray {
            //font-family: "Montserrat", sans-serif !important;
            font-size: 18px !important;
            color: #4d4d4d !important;
            font-weight: 900 !important;
          }

          &.info-retipago {
            font-family: "Montserrat", sans-serif !important;
            font-size: 12px;
            color: var(--ion-color-coink-secundary);
            font-style: italic !important;
          }

          &.info-transferencia {
            font-family: "Montserrat" !important;
            font-size: 12px;
            color: #4d4d4d;
            font-style: italic !important;
          }

          &.info-camp {
            font-size: 14px;
            color: var(--ion-color-coink-secundary);

            &.font-size-up {
              font-size: 16px !important;
            }
          }

          &.info-retipago-title {
            font-family: "Montserrat", sans-serif !important;
            font-size: 14px;
            color: rgba(251, 176, 64, 1);
            font-style: italic !important;
          }

          &.green,
          &.orange,
          &.red,
          &.strong {
            font-weight: bold;
            text-transform: uppercase;
          }

          &.green,
          &.orange,
          &.red {
            &::before {
              content: "$ ";
            }
          }
        }
      }
    }
  }

  &.error-alert {
    .alert-wrapper {
      .alert-head {
        .alert-title {
          color: rgba(231, 65, 17, 1);
        }
      }
    }
  }

  .alert-wrapper {
    border-radius: 0.15vw;

    .alert-head {
      .alert-title {
        color: var(--ion-color-coink-secundary);
      }
    }

    .alert-message {
      font-size: 13px;
      color: #404040;

      a {
        color: var(--ion-color-coink-secundary);
      }

      p {
        &.strong {
          font-weight: 400;
        }
      }
    }

    .alert-radio-group {
      .alert-radio-button-md .alert-radio-inner,
      .alert-radio-button-wp .alert-radio-inner {
        top: 0.3rem;
        left: 0.3rem;
      }

      .alert-radio-group .alert-radio-button-md .alert-radio-inner {
        top: 0.2rem;
        left: 0.2rem;
      }
    }

    .alert-button-group {
      justify-content: space-between;

      .alert-button {
        border-color: transparent;
        color: var(--ion-color-coink-secundary);
        font-weight: bold;
        .button-inner {
          color: var(--ion-color-coink-secundary);
        }
      }
    }
  }
}

// Estilos para loading

ion-loading {
  .loading-wrapper {
    background: transparent !important;
    box-shadow: none;
  }

  .loading-content {
    height: 100px;
    width: 100px;
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
  }
}
$max: 250;
$seg: 2s;
@keyframes spinnering {
  from {
    stroke-dashoffset: $max;
  }

  to {
    stroke-dashoffset: $max * 0.1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  text-align: center;
  align-content: center;

  &.pull {
    padding-top: 1rem;
  }

  &.push {
    padding-top: 2.5rem;
  }
}

svg.ring-spinner {
  width: 100px;
  height: 100px;
  animation: spin $seg linear infinite;

  &.small {
    width: 12.5vw;
    height: 12.5vw;
    margin: 0 auto;
  }

  circle {
    fill: transparent;
    stroke-linecap: round;
    stroke-dasharray: 350px;
    stroke-dashoffset: 82px;
    cy: 50;
    cx: 50;
    r: 40;
    &.ring {
      stroke: var(--ion-color-coink-primary);
      stroke-width: 12px;
    }
    &.base {
      stroke: var(--ion-color-coink-secundary);
      stroke-width: 8px;
      stroke-dasharray: $max;
      stroke-dashoffset: $max - ($max * (3 / 5));
      animation: spinnering ($seg * (3/5)) linear alternate infinite;
    }
  }
}
