* {
  --background-checked: var(--ion-color-coink-primary);
  --border-color-checked: var(--ion-color-coink-primary);
}

.content-terms {
  padding: 20px;
  color: #707070;
  line-height: 16pt;
}

.content-terms__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.terms {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 20px 20px;
}

.lbl-terms {
  font-family: Avenir Next LT Pro;
  font-weight: bold;
  color: #4d4d4d;
  width: 70%;
}

.btn {
  width: 100%;
  font-size: 21pt;
}
