<ion-header class="modal-header ion-no-border">
  <ion-toolbar>
    <ion-label class="modal-header__title"> NOTIFICACIONES </ion-label>
    <ion-buttons slot="end" id="buttons-header">
      <ion-button (click)="exit()" slot="end" class="ion-float-right">
        <ion-icon
          color="coink-primary"
          name="close"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let notification of notifications">
    <app-options-notification
      *ngIf="notification.NotificationTypeId == 1"
      [title]="notification.NotificationTitle"
      [subtitle]="notification.NotificationTypeDescription"
      [date]="notification.NotificationDate"
      [subject]="notification.NotificationSubject"
      [value]="notification.NotificationValue"
      [textAccept]="'Aceptar'"
      [textDecline]="'Rechazar'"
    ></app-options-notification>

    <app-info-notification
      *ngIf="notification.NotificationTypeId == 2"
      [title]="notification.NotificationTitle"
      [description]="notification.NotificationTypeDescription"
      [textAbout]="'Conocer más'"
    ></app-info-notification>
  </div>
</ion-content>
